services:
  ubuntu-base:
    image: ${UBUNTU_IMAGE:-ubuntu:24.04}
    restart: unless-stopped
    init: true
    command:
      - sleep
      - infinity
    networks:
      - coolify
    environment:
      TZ: ${TZ:-America/Guayaquil}
    mem_limit: 5g
    memswap_limit: 5g
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

networks:
  coolify:
    external: true
